/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
@font-face {
    font-family: 'UbuntuRegular';
    src: url('Ubuntu-R-webfont.eot');
    src: url('Ubuntu-R-webfont.eot?#iefix') format('embedded-opentype'),
         url('Ubuntu-R-webfont.woff') format('woff'),
         url('Ubuntu-R-webfont.ttf') format('truetype'),
         url('Ubuntu-R-webfont.svg#UbuntuRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
}
html, body{
	height: 100%;
	width: 100%;
}
body{
	position: relative;
	background: #f5f5f5;
	overflow: hidden;
}
#wrapper_page .header_cont{
	display: block;
	height: 63px;
	margin: 0 auto;
	width: 95%;
}
#wrapper_page .header_cont h1.title{
	background: url(../img/logo_peru_lider.png) no-repeat 0 center;
	color: #f5f5f5;
	float: left;
	padding: 11px 0 11px 39px;
}
#wrapper{
	width: 470px;
	position: absolute;
	margin-top: -195px;
	top: 50%;
	margin-left: 50%;
	left: -235px;
	height: 210px;
	border-radius: 6px;
	border: 1px solid #CCC;
	padding: 10px;
	background: white;
}
#wrapper h3{
	border-bottom: 1px solid #CCC;
	margin-bottom: 20px;
	text-align: center;
}
#header{
	height: 80px;
}
#panel {
	position: absolute;
	left: 0;
	top: 25px;
	background-color: white;
	height: 256px;
	width: 0;
	font: 18px Arial;
	color: #707275;
	text-align: center;
	border-radius: 0 15px 15px 0;
	top: 50%;
	margin-top: -191px;
	padding: 20px 0;
}
#tab {
	background: url(../img/menu.png) no-repeat -1px 24px;
	height: 256px;
	position: absolute;
	display: block;
	cursor: pointer;
	top: 50%;
	left: 0;
	margin-top: -191px;
	width: 38px;
}
#tab_interna {
	/*border-radius: 5px 0 0 5px;*/
	width: 100%;
	height: 100%;
}
#footer{
	font-size: 12px;
	color: #bbb;
	text-align: center;
}
.panel{
	float: left;
	width: 300px;
}
.cont{position: relative;}
.contenido ul li{
	position: relative;
}
.contenido ul li a{
	text-align: left;
	padding-left: 45px;
}
.contenido ul li i{
	position: absolute;
	top: 12px;
	left: 22px;
}
.brancd:hover{
	color:#fff;
}
.brand{
	font-size: 20px!important;
	margin-left: 0!important;
}
.brancd{
	display: block;
	float: left;
	padding: 10px 20px 10px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	color: #999;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);

}
.user{
	margin-left: 10px;
}
.user h6{
	color: #f5f5f5;
}
.user div.ico{
	background: url(../img/glyphicons-halflings-white.png) no-repeat -167px 2px;
	float:left;
	height: 20px;
	width: 20px;
}
.user h4{
	color: whiteSmoke;
	padding: 10px 0;
	display: block;
}
.nav{
	float: right!important;
}
